<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>About</title>
</head>
<body>
  <section>
    <div th:if="${ifAdded != null}">
       <script th:inline="javascript">
              alert("Not Added !! Employee Already Exist");
        </script>
   </div>
   <br>
   <div class="container" style="width: 50%; border-style:solid;">
   <br><br>
   <form action="add" method="post">
     <div class="form-group row">
         <label for="ecode" class="col-sm-4 required">Employee Code</label>
         <div class="col-sm-5">
         <input type="text" class="form-control form-control-sm" id="ecode" name="ecode"
          maxlength="50" required>
         </div>
     </div>
     <br>
     <div class="form-group row">
         <label for="ename" class="col-sm-4 required">Employee Name</label>
         <div class="col-sm-5">
         <input type="text" class="form-control form-control-sm" id="ename" name="ename" 
          maxlength="50" required>
         </div>
     </div>
     <br>
      <div class="form-group row">
         <label for="location" class="col-sm-4 required">Location</label>
         <div class="col-sm-5">
         <input type="text" class="form-control form-control-sm" id="location" name="location" 
          maxlength="50" required>
         </div>
     </div>
     <br>
     <div class="form-group row">
         <label for="email" class="col-sm-4 required">Email</label>
         <div class="col-sm-5">
         <input type="text" class="form-control form-control-sm" id="email" name="email"
          maxlength="100" title="must be a valid email"
          pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" required>
         </div>
     </div>
     <br>
     <div class="form-group row">
         <label for="dob" class="col-sm-4 required">Date of Birth</label>
         <div class="col-sm-5">
         <input type="date" class="form-control form-control-sm" id="dob" name="dob"
         pattern="^[0-9]{2}-[0-9]{2}-[0-9]{4}$" required>
         </div>
     </div>
     <br>
      <input type="text" name="hrname" th:value="${hrname}" hidden>
      <input type="submit" class="btn-primary btn me-3" value="Save"></input>
      <input type="reset" class="btn btn-danger" value="Cancel"></input>
   </form>
   <br><br>
   </div>
  </section>
</body>
</html>